body {
  background-color: lightgoldenrodyellow;
}

.codegrid {
  display: grid;
  grid-template-columns: auto auto;
  background-color: burlywood;
  align-items: center;
  width: 100%;
}

.repeatgrid {
  display: grid;
  background-color: burlywood;
  align-items: center;
  width: 100%;
}

.repeat {
  background-color: burlywood;
}

footer {
  position: absolute;
  width: 85%;
  text-align: right;
  height: 2.5rem; /* Footer height */
}

.right {
  margin-left: 64%;
  margin-bottom: 10px;
  padding-right: 10px;
}

.text-end {
  text-align: end;
}

.bolder {
  font-weight: bold;
}

.data {
  display: grid;
  grid-template-columns: 0.5fr 5fr 4fr 5fr 5fr 5fr;
  grid-gap: 3px;
}

.data .scroller {
  height: 1200px;
}

.mid-text {
  font-size: 30px;
}

input {
  background-color: #dfcdb6;
  font-size: 20px;
}
.big-text {
  font-size: 70px;
}

button {
  border-color: #ad7575;
  background-color: #d4913a;
  min-width: 200px;
  color: #f8efef;
  margin: 10px;
  font-size: 20px;
}

.swap-data-selected {
  background-color: red;
}

.swap-element-selected {
  background-color: red;
}

.peek {
  color: red;
  font-size: 50px;
}

body {
  margin: 100px;
}

.peekgrid {
  display: grid;
  grid-template-columns: auto auto;
}

.fadey {
  opacity: 0.7;
  border: 0;
}

.swap {
  min-width: 100px;
  min-height: 39px;
  max-width: 200px;
}

.swapgrid {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  font-weight: bold;
}

.table-content {
  padding: 16px;
  height: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
