body {
  background-color: lightgoldenrodyellow;
}

.codegrid {
  display: grid;
  grid-template-columns: 6fr 5fr;
  background-color: burlywood;
  align-items: center;
}

footer {
  position: absolute;
  width: 100%;
  text-align: right;
  height: 2.5rem; /* Footer height */
}

.right {
  margin-left: 80%;
  margin-bottom: 10px;
}

.text-end {
  text-align: end;
}

.bolder { 
  font-weight: bold;
}

.data {
  display: grid;
  grid-template-columns: 0.5fr 5fr 4fr 5fr 5fr 5fr;
  grid-gap: 3px;
}

.data .scroller {
  height: 1200px;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  font-weight: bold;
}

.table-content {
  padding: 16px;
  height: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}