h1 {
  text-align: center;
  background-color: green;
  color: white;
}

h2 {
  background-color: green;
  color: white;
}

button {
  margin: 5px;
  min-height: 100px;
  max-width: 90%;
  font-size: 32px;
}

body {
  background-color: #78c278;
}

input {
  background-color: #f1e78c;
  font-size: 42px;
  min-width: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.crossout {
  text-decoration: line-through;
}

.events-grid {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 1fr;
}

.event-text {
  font-size: 30px;
}

.action {
  min-height: 12px;
  font-size: 32px;
}

.vrs {
  padding-top: 50px;
}

.teamName {
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 55px;
}

.edit {
  background-color: green;
  color: white;
}

.swap-data-selected {
  background-color: green;
}

.format-grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.row-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  margin: 10px;
}

.center-grid {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  text-align: center;
  font-size: 30px;
}

.place {
  width: 50%;
  height: 42px;
  margin-left: 25%;
  font-size: 30px;
}

.nav {
  display: grid;
  grid-template-columns: auto auto auto;
}
