body {
    background-color: lightgoldenrodyellow;
}
.swap-selected {
    color: red;
    font-weight: bolder;
    border: red;
    border-style: solid;
}

.title {
    text-align: left;
    font-size:40px;
    font-weight: bolder;
}

.sub {
    font-size: 40px;
    font-weight: bolder;
    color: rebeccapurple;
}

.main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

button  {    
    font-size: 40px;
}

.linked {
    border: orange;
    border-style: solid;
}

input {
    font-size: 50px;
}

.plain {
    font-size: 33px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.pitch {
    display: grid;
    grid-template-columns: 370px 370px 370px 370px 370px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: green;
}

.pos {
    background-color: green;
}

.bench {
    display: grid;
    grid-template-columns: 370px 370px 370px 370px 370px;
    grid-template-rows: 100px;
    grid-gap: 10px;
}
